@import "../../_variables";
.search-component {
  display: flex;
  background-color: $white;
  width: $width;
  margin: 0 auto;
  margin-top: 5rem;
  border-radius: 5px;
  justify-content: space-evenly;

  input {
    border: none;
  }
  .filter-location {
    border-left: 1px solid $gray;
    border-right: 1px solid $gray;
    input {
      max-width: 14rem;
      text-overflow: ellipsis;
      width: 100%;
    }
  }
  .filter-icon {
    padding: 0rem 1rem;
  }
  .filter-location,
  .filter-title,
  .right-wrapper {
    padding: 1rem;
    display: flex;
    align-items: center;
    width: 100%;
    form {
      display: flex;
    }
    @media (max-width: 768px) {
      padding: 0.5rem;
    }
  }
  .filter-title {
    max-width: 40rem;
    input {
      text-overflow: ellipsis;
      width: 100%;
    }
    form {
      width: 100%;
    }
    @media (max-width: 500px) {
      padding-left: 2rem;
    }
  }
  .right-wrapper {
    justify-content: space-between;
    @media (max-width: 500px) {
      justify-content: flex-end;
      flex: 1;
      .modal-btn {
        margin: 0 1.5rem;
        cursor: pointer;
      }
    }
    .checkbox {
      display: flex;
      align-items: center;
    }
    .label {
      font-weight: 600;
      margin: 0 0.5rem;
    }
  }
}
