$light-violet: hsl(235,82%,77%);
$violet:hsl(235,69%,61%); 
$very-dark-blue: hsl(219,29%,14%);
$midnight: hsl(220,29%,10%);
$white: hsl(0,0%,100%);
$light-gray: hsl(210,22%,96%);
$gray: hsl(212,23%,69%);
$dark-gray: hsl(214,17%,51%);

//Buttons
$button-2-default: hsl(235,68%,96%);
$button-2-hover: hsl(235,68%,86%);
$button-2-dark-default: hsl(220,16%,22%);
$button-2-dark-hover: hsl(217,6%,44%);

//Checkbox
$checkbox-default: hsl(240,5%,91%);

$width : 85%;
$width-tablet : 90%;
